---
import Zigzag from "@components/base/Zigzag.astro";
const services = await Astro.glob('../../content/_services.json')
const {title, description, service } = services[0]
---

<section
	id="section-services"
	class="section-services relative z-10 min-h-screen"
	x-intersect.half="activeStep = 'services'">
	<div class="container xl:px-0 px-5 py-16" x-intersect.half="showBackButton = true">
		<div class="section-services--boxTitle mb-10 relative">
			<div class="text-gray-500">
				<h2 class="font-display capitalize font-bold leading-none text-4xl text-white pb-4">
					{title}
					<Zigzag colour="" />
				</h2>
				<div class="md:max-w-xl font-thin">
					<p set:html={description}></p>
				</div>
			</div>
			<div class="section-title white font-black text-right uppercase text-xl absolute right-0 bottom-0">SERVICES.</div>
		</div>
		<div class="md:flex flex-wrap -mx-5">
			<!-- TODO: FORMAT DESCRIPTION MARKDOWN -->
			{
				service.map(item => (
					<div class="md:w-1/2 lg:w-1/4 px-5 mb-5">
						<div class="p-8 text-gray-900 rounded-xl tracking-wide bg-white h-full shadow-2xl">
							<span class={`lnr mb-4 block text-4xl ${item.icon}`}></span>
							<h3 class="font-display text-red-600 text-xl font-bold mb-4 leading-none">{item.title}</h3>
							<p set:html={item.description}></p>
						</div>
					</div>
				))
			}
		</div>
	</div>
</section>

<style lang="scss">
	.section-services {
		&--icon {
			height: 2rem;
			width: 2rem;
		}
	}
</style>
